<header>
    <!-- Phần header ngay đầu trang  -->
    <div class="full-layer-outer-header ">
        <div class="container clearfix">
            <!-- Một số thông tin liên hệ góc trái -->
            <nav>
                <ul class="primary-nav g-nav">
                    <li>
                        <a href="tel:+111444989" style="color: white;">
                            <i class="fas fa-phone u-c-brand u-s-m-r-9"></i>
                            Telephone: 0911904045
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact@domain.com" style="color: white;">
                            <i class="fas fa-envelope u-c-brand u-s-m-r-9"></i>
                            E-mail: thegoatshop.ueh@gmail.com
                        </a>
                    </li>
                </ul>
            </nav>
            <!--  Một số thông tin tài khoản  góc phải  -->
            <nav>
                
                <ul class="secondary-nav g-nav">
                    <li>
                        <a style="color: white;">
                            Tài khoản của tôi
                            <i class="fas fa-chevron-down u-s-m-l-9"></i>
                        </a>
                        <ul class="g-dropdown" style="width:200px">
                            <li>
                                <a asp-controller="Cart" asp-action="Index">
                                    <i class="fas fa-cog u-s-m-r-9"></i>
                                    Giỏ hàng của tôi
                                </a>
                            </li>
                            <li>
                                <a asp-controller="WishList" asp-action="Index">
                                    <i class="far fa-heart u-s-m-r-9"></i>
                                    Sản phẩm ưa thích
                                </a>
                            </li>
                            <li>
                                <a  asp-controller="CheckOut" asp-action="Index">
                                    <i class="far fa-check-circle u-s-m-r-9"></i>
                                    Thanh toán
                                </a>
                            </li>
                            <!--  Khi người dùng đăng nhập vào sẽ xổ ra phần này thay vì đăng nhập / đăng ký  -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                 
                                    <a asp-controller="MyProfile" asp-action="Index">
                                        <i class="fa-solid fa-user u-s-m-r-9"></i>
                                        Tài khoản của tôi
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Logout">
                                        <i class="fas fa-sign-out-alt u-s-m-r-9"></i>
                                        Đăng xuất
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Login_Resgiter">
                                        <i class="fas fa-sign-in-alt u-s-m-r-9"></i>
                                        Đăng nhập / Đăng ký
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                    <!-- Chuyển đổi tiền tệ -->

                    <li>
                        <a style="color: white;">
                            VNĐ
                            <i class="fas fa-chevron-down u-s-m-l-9"></i>
                        </a>
                        <ul class="g-dropdown" style="width:90px">
                            <li>
                                <a href="#" class="u-c-brand">(đ) VNĐ</a>
                            </li>
                            <li>
                                <a href="#">($) USD</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Chuyển  đổi ngôn ngữ  -->
                    <li>
                        <a style="color: white;">
                            VN
                            <i class="fas fa-chevron-down u-s-m-l-9"></i>
                        </a>
                        <ul class="g-dropdown" style="width:70px">
                            <li>
                                <a href="#" class="u-c-brand">VN</a>
                            </li>
                            <li>
                                <a href="#">ENG</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Kết thúc phần header đầu /- -->
    <!-- Phần header ở giữa  -->

    <nav id="dau-trang" class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div class="col-lg-3 col-md-9 col-sm-6 u-s-m-b-10">
                <!-- Tạo Logo cho page  -->
                <div class="brand-logo text-lg-center">
                    <a asp-controller="Home" asp-action="Index">
                        <img style="width:200px; height:58px" src="~/images/main-logo/logo.png" alt="The Goat Brand Logo"
							 class="app-brand-logo">
                    </a>
                    <!-- Phần cart khi responsive  -->
                    <ul class="mid-nav g-nav">
                        <li>
                            <a id="mini-cart-trigger1">
                                <i class="ion ion-md-basket"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Nút bật mở menu khi Responsive  -->
            <button class="navbar-toggler collapsed bg-dark navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#trangchu" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Thanh Search  -->
            <div class="u-s-m-b-5" style="float:right">
                <form id="timkiem1" class="form-searchbox">
                    <label class="sr-only" for="search-landscape1">Tìm kiếm</label>
                    <input id="search-landscape1" type="text" class="text-field"
                           placeholder="Tìm kiếm">
                    <button id="btn-search" type="submit"
                            class="button button-primary fas fa-search"></button>
                </form>
            </div>
            <style>
                .navbar-brand:hover{
                    color: #DC143C; /* Chọn màu đỏ nhạt mong muốn */
                }
            </style>
            <!-- Nôi dụng trong phần bật mở Menu  -->
            <div class="navbar-collapse collapse bg-light" id="trangchu" style="font-family: Arial, Helvetica, sans-serif;">
                <ul class="navbar-nav me-auto" style="margin: 5px 20px">
                    <li class="nav-item">
                        <!-- Sản phẩm  -->
                        <a class="navbar-brand" asp-controller="Product" asp-action="Index">Sản phẩm</a>
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sanpham" aria-expanded="false">
                            <span class="dropdown-btn" onclick="toggleDropdown('phone')"><i class="fas fa-angle-down"></i></span>
                        </button>
                        <!-- Các loại sản phẩm  -->
                        <div class="navbar-collapse collapse" id="sanpham">
                            <ul class="navbar-nav me-auto">
                                <li style="margin-left: 30px;">
                                    <a style="color: #191970; font-size: 18px;" asp-controller="Product" asp-action="Phone">
                                        <i class="fa-solid fa-mobile-screen" style="margin-right: 5px; font-size: 25px;"></i>
                                        Điện thoại
                                    </a>
                                </li>
                                <li style="margin-left: 30px;">
                                    <a style="color: #191970; font-size: 18px;" asp-controller="Product" asp-action="Phone">
                                        <i class="fa-solid fa-laptop" style="margin-right: 5px; font-size: 15px;"></i>
                                        Laptop
                                    </a>
                                </li>
                                <li style="margin-left: 30px;">
                                    <a style="color: #191970; font-size: 18px;" asp-controller="Product" asp-action="Phone">
                                        <i class="fa-solid fa-tablet" style="margin-right: 5px; font-size: 20px;"></i>
                                        Tablet
                                    </a>
                                </li>
                                <li style="margin-left: 30px;">
                                    <a style="color: #191970; font-size: 18px;" asp-controller="Product" asp-action="Phone">
                                        <i class="fa-solid fa-headphones" style="margin-right: 5px; font-size: 20px;"></i>
                                        Tai nghe
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Hàng mới -->
                    <li class="nav-item">
                        <a class="navbar-brand" asp-controller="Home" asp-action="New_Arrivals">Hàng mới</a>
                    </li>
                    <!--Về Chúng tôi -->
                    <li class="nav-item">
                        <a class="navbar-brand" asp-controller="Home" asp-action="About">Về chúng tôi</a>
                    </li>
                    <!--Hỗ Trợ -->
                    <li class="nav-item">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Support">Hỗ Trợ</a>
                    </li>
                    <!--Blog -->
                    <li class="nav-item">
                        <a class="navbar-brand" asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                    <!--Liên Hệ -->
                    <li class="nav-item">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Nội dung trang khi xem bằng máy tính  -->
    <div id="giua-trang" class="full-layer-mid-header fixed-mid-header">
        <div class="container">
            <div class="row clearfix align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Logo  -->
                    <div class="brand-logo text-lg-center">
                        <a asp-controller="Home" asp-action="Index">
                            <img style="width:200px; height:58px" src="~/images/main-logo/logo.png" alt="The Goat Brand Logo"
                                 class="app-brand-logo">
                        </a>
                    </div>
                </div>
                <!--Thanh tìm kiếm  -->
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-items:center;">
                    <form id="timkiem" class="form-searchbox">
                        <label class="sr-only" for="search-landscape">Tìm kiếm</label>
                        <input id="search-landscape" type="text" class="text-field"
                               placeholder="Tìm kiếm sản phẩm">
                        <button id="btn-search" type="submit"
                                class="button button-primary fas fa-search"></button>
                    </form>
                </div>
                <!--Các nút dẫn nhanh tới các trang  -->
                <div class="col-lg-3 col-md-2 col-sm-12" style="align-items:center; clear:both">
                    <nav>
                        <ul class="mid-nav g-nav">
                            <!--Trang chủ  -->
                            <li class="u-d-none-lg">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="ion ion-md-home u-c-brand"></i>
                                </a>
                            </li>
                            <!--Trang sản phẩm ưu thích  -->
                            <li class="u-d-none-lg">
                                <a asp-controller="WishList" asp-action="Index">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                            <!--Trang liên hệ  -->
                            <li class="u-d-none-lg">
                                <a asp-controller="Home" asp-action="Contact">
                                    <i class="fa-solid fa-headset"></i>
                                </a>

                            </li>
                            <!--Giỏ hàng -->
                            <li>
                                <a id="mini-cart-trigger">
                                    <i class="ion ion-md-basket"></i>
                                    <span class="item-counter">4</span>
@*                                    <span class="item-price">56 Triệu<sup></sup>đ</span>
*@                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Kết thúc Phần header ở giữa  -->
    <!-- Các nút responsive-->
    <div class="fixed-responsive-container">
        <div class="fixed-responsive-wrapper">
            <button type="button" class="button fas fa-search" id="responsive-search"></button>
        </div>
        <div class="fixed-responsive-wrapper">
            <a asp-controller="WishList" asp-action="Index">
                <i class="far fa-heart"></i>
                <span class="fixed-item-counter">4</span>
            </a>
        </div>
    </div>
    <!-- Các nút responsive/- -->
    <!-- Giỏ hàng mini sẽ hiện 1 phần ở bên phải -->
    <div class="mini-cart-wrapper">
        <div class="mini-cart">
            <div class="mini-cart-header">
                Giỏ hàng của tôi
                <button type="button" class="button ion ion-md-close" id="mini-cart-close"></button>
            </div>
            <ul class="mini-cart-list">
                <!-- Sản phẩm 1 -->
                <li class="clearfix">
                    <a asp-controller="Product" asp-action="Details">
                        <img src="~/images/cart/iphone15plus.jpg" alt="Product">
                        <span class="mini-item-name">Điện thoại iPhone 15 pro </span>
                        <span class="mini-item-price">15.000.000 <sup>đ</sup></span>
                        <span class="mini-item-quantity"> x 1 </span>
                    </a>
                </li>
                <!-- Sản phẩm 2 -->

                <li class="clearfix">
                    <a asp-controller="Product" asp-action="Details">
                        <img src="~/images/cart/laptop-asus.jpg" alt="Product">
                        <span class="mini-item-name">Laptop Asus Vivobook X1404ZA </span>
                        <span class="mini-item-price">17.000.000<sup>đ</sup></span>
                        <span class="mini-item-quantity"> x 1 </span>
                    </a>
                </li>
                <!-- Sản phẩm 3-->
                <li class="clearfix">
                    <a asp-controller="Product" asp-action="Details">
                        <img src="~/images/cart/redmi.jpg" alt="Product">
                        <span class="mini-item-name">XiaoMi Note 9</span>
                        <span class="mini-item-price">3.500.000<sup>đ</sup></span>
                        <span class="mini-item-quantity"> x 1 </span>
                    </a>
                </li>
                <!-- Sản phẩm 4 -->
                <li class="clearfix">
                    <a asp-controller="Product" asp-action="Details">
                        <img src="~/images/cart/laptop-dell.jpg" alt="Product">
                        <span class="mini-item-name">Dell Inspiron 15</span>
                        <span class="mini-item-price">20.500.000<sup>đ</sup></span>
                        <span class="mini-item-quantity"> x 1 </span>
                    </a>
                </li>
            </ul>
            <div class="mini-shop-total clearfix">
                <span class="mini-total-heading float-left">Total:</span>
                <span class="mini-total-price float-right">56.000.000<sup>đ</sup></span>
            </div>
            <!-- Hai nút đi tới trang giỏ hàng hoặc thanh toán -->

            <div class="mini-action-anchors">
                <a asp-controller="Cart" asp-action="Index" class="cart-anchor">Xem giỏ hàng</a>
                <a asp-controller="CheckOut" asp-action="Index" class="checkout-anchor">Thanh toán</a>
            </div>
        </div>
    </div>
    <!-- Giỏ hàng mini sẽ hiện 1 phần ở bên phải -->
    <!-- Phần Header ở cuối trang  -->
    <div class="full-layer-bottom-header fixed-bottom-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="bottom-nav g-nav u-d-none-lg">
                        <!-- Trang Chủ  -->
                        <li class="red">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house"></i>
                                Trang Chủ
                            </a>
                        </li>
                        <!-- Menu Sản phẩm -->
                        <li class="mega-position">
                            <a asp-controller="Product" asp-action="Index">
                                Sản phẩm
                                <i class="fas fa-chevron-down u-s-m-l-9"></i>
                            </a>
                            <div class="mega-menuMOI mega-3-colm">
                                <ul>
                                    <li class="menu-title">
                                        <a asp-controller="Product" asp-action="Phone">
                                            <i class="fa-solid fa-mobile-button"></i>
                                            Điện thoại
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">iPhone</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="SamSung">SamSung</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">XIAOMI</a>
                                    </li>
                                    <li class="menu-title">
                                        <a asp-controller="Product" asp-action="Phone">
                                            <i class="fa-solid fa-keyboard"></i>
                                            Phụ kiện
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="menu-title">

                                        <a asp-controller="Product" asp-action="Phone">
                                            <i class="fa-solid fa-laptop"></i>
                                            Laptop
                                        </a>

                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">MacBook</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">ASUS</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">Dell</a>
                                    </li>
                                    <li class="menu-title">
                                        <a asp-controller="Product" asp-action="Phone">

                                            <i class="fa-solid fa-tablet-screen-button"></i>

                                            Tablet
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="menu-title">
                                        <a asp-controller="Product" asp-action="Phone">
                                            <i class="fa-solid fa-headphones"></i>
                                            Tai nghe
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">
                                            Tai nghe Bluetooth
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="IPhone">
                                            Tai nghe có dây
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Hàng mới có gán thẻ new  -->
                        <li>
                            <a asp-controller="Home" asp-action="New_Arrivals">
                                Hàng mới
                                <span class="superscript-label-new">NEW</span>
                            </a>
                        </li>
                        <li>
                            <!-- Về chúng tôi  -->
                            <a asp-controller="Home" asp-action="About">
                                Về Chúng Tôi
                            </a>
                        </li>
                        <li>
                            <!-- Hỗ trợ -->
                            <a asp-controller="Home" asp-action="Support">
                                Hỗ Trợ
                            </a>
                        </li>
                        <li>
                            <!-- Blog -->
                            <a a asp-controller="Blog" asp-action="Index">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Phần Header ở cuối trang  -->
</header>