<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="UTF-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Goat Shop</title>
    <!-- Tạo Favicon cho các page -->
	<link href="/images/trangchu/baner/the.jpg" rel="shortcut icon">
    <!-- Lấy  Google Font cho Web-app -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- Lấy Google Fonts chỉ cho phần  Banners  -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <!--Thêm link bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Link Bootstrap 4 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Link Font Awesome 5 -->
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!-- Link Ion-Icons 4 -->
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <!-- Link Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!--Linl Owl-Carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Link Jquery-Ui-Range-Slider -->
    <link rel="stylesheet" href="~/css/jquery-ui-range-slider.min.css">
    <!-- Link Utility -->
    <link rel="stylesheet" href="~/css/utility.css">
    <!-- Phần css main  -->
    <link rel="stylesheet" href="~/css/bundle.css">
    <script src="https://kit.fontawesome.com/c1744beaa1.js" crossorigin="anonymous"></script>
    <link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/product.css" rel="stylesheet" />
	<link href="~/css/header-footer.css" rel="stylesheet" />
	<link href="~/css/boxchat.css" rel="stylesheet" />
    <style>
        .mega-menu {
            margin-left: 630px;
            width: 20%;
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
        }
    </style>


</head>

<body>

    <!-- app -->
    <div id="app">
        <!-- Tạo phần header chung cho các page -->
        @await Html.PartialAsync("_HeaderPartialView.cshtml")
        <!--  -->
        <!--Mỗi page sẽ khác nhau ở nội dung body này  -->
        @RenderBody()
        <!--  -->
        <!-- Tạo phần footer chung cho các page -->
        @await Html.PartialAsync("_FooterPartialView.cshtml")
        <!----> 
    </div>
    <!-- app /- -->
    <!--[if lte IE 9]>
    <div class="app-issue">
        <div class="vertical-center">
            <div class="text-center">
                <h1>You are using an outdated browser.</h1>
                <span>This web app is not compatible with following browser. Please upgrade your browser to improve your security and experience.</span>
            </div>
        </div>
    </div>
    <style> #app {
        display: none;
    } </style>
    <![endif]-->
    <!-- NoScript -->
    <noscript>
        <div class="app-issue">
            <div class="vertical-center">
                <div class="text-center">
                    <h1>JavaScript is disabled in your browser.</h1>
                    <span>Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser to register for Groover.</span>
                </div>
            </div>
        </div>
        <style>
            #app {
                display: none;
            }
        </style>
    </noscript>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <!-- Modernizr-JS -->
    <script type="text/javascript" src="~/js/vendor/modernizr-custom.min.js"></script>
    <!-- NProgress -->
    <script type="text/javascript" src="~/js/nprogress.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- Popper -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- ScrollUp -->
    <script type="text/javascript" src="~/js/jquery.scrollUp.min.js"></script>
    <!-- Elevate Zoom -->
    <script type="text/javascript" src="~/js/jquery.elevatezoom.min.js"></script>
    <!-- jquery-ui-range-slider -->
    <script type="text/javascript" src="~/js/jquery-ui.range-slider.min.js"></script>
    <!-- jQuery Slim-Scroll -->
    <script type="text/javascript" src="~/js/jquery.slimscroll.min.js"></script>
    <!-- jQuery Resize-Select -->
    <script type="text/javascript" src="~/js/jquery.resize-select.min.js"></script>
    <!-- jQuery Custom Mega Menu -->
    <script type="text/javascript" src="~/js/jquery.custom-megamenu.min.js"></script>
    <!-- jQuery Countdown -->
    <script type="text/javascript" src="~/js/jquery.custom-countdown.min.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <!-- Main -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type ="text/javascript" src="/js/tonghop.js"></script>
</body>
</html>
