/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
    color: rgb(106, 104, 104);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 10px;
    left: 30px;
    width: 80px;
    z-index: 10000;
    background-color: initial;
    font-size: 50px;
}

.nut-mo-chatbox {
    font-weight: bold;
    animation-name: text-shadow-drop;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* shorthand
    animation: text-shadow-drop 0.2s linear 0s infinite normal forwards;*/
}

@keyframes text-shadow-drop {

    0% {
        text-shadow: 0 0 0 transparent;
    }

    100% {
        text-shadow: -6px 6px 18px rgba(0, 0, 0, .35);
    }
}

.nut-mo-chatbox:hover {
    color: red;
}




/* Ẩn chatbox mặc định */
.Chatbox {
    display: none;
    position: fixed;
    bottom: 23px;
    left: 30px;
    border: 2px solid black;
    z-index: 10000;
    background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-beautiful-christmas-display-board-background-picture-image_980193.jpg);
    border-radius: 5%;
}

/* Thêm style cho form */
.form-container {
    max-width: 300px;
    padding: 10px;
    background: none;
}

    /* thiết lập style textarea */
    .form-container textarea {
        width: 100%;
        padding: 5px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        height: 40px;
    }

        /*thiết lập style cho textarea khi được focus */
        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }


.form-container {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


    /* Thêm hiệu ứng hover cho nút*/
    .form-container .btn:hover,
    .nut-mo-chatbox:hover {
        opacity: 1;
    }


.btn {
    background-color: white;
    color: black;
}

    .btn:hover {
        color: yellow;
    }

.form-container {
    margin-bottom: 4px;
}

.title_boxchat p {
    padding-top: 60px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.nut-dong-chatbox {
    background-color: transparent;
    font-size: 23px;
    position: absolute;
    right: 0px;
    top: 40px;
    display: block;
}


.content_boxchat {
    display: flex;
    bottom: 2px;
    margin-bottom: 0;
    height: 40px;
}


.space_chat {
    height: 200px;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}

.nut-gui {
    font-size: 20px;
    height: 35px;
    background: none;
}



.title_boxchat p {
    font-weight: bold;
    animation-name: focus-in-expand-top;
    animation-duration: 2.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand
    animation: focus-in-expand-top 2.2s linear 0s 1 normal none;*/
}

@keyframes focus-in-expand-top {

    0% {
        letter-spacing: -.5em;
        transform: translateY(-300px);
        filter: blur(12px);
        opacity: 0;
    }

    0% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
