/*Thêm vào file css*/
.mausac {
    border: 1px solid rgba(0,0,0,.09);
    height: 40px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
}

    .mausac:focus {
        outline: none; /* Loại bỏ viền mặc định */
        border-color: red; /* Thay đổi màu sắc của viền thành màu đỏ */
    }

.muahang, .themhang {
    height: 45px;
    border-color: red;
    margin-bottom: 10px;
    margin-right: 10px;
}

.muahang {
    background: red;
    color: white;
}

.themhang {
    color: red;
}
